@import "tailwindcss";

@theme {
  --color-sfgreen: #04936B;
  --color-sfgreen-dark: #0E5C44;
  --color-sfgreen-light: #06bf8b;
  --color-sfgray: #2D2C32;
  --color-sfoffwhite: #F5F5F5;
}

* {
  box-sizing: border-box;
  outline: none;
}